.payment-container {
  .load {
    display: flex;
    justify-content: center;
  }
  .row {
    display: flex;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .example-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 40px;
    margin: 0 auto;
    justify-content: center;
  }
  .text-warning {
    color: #f44336;
    padding: 10px 0;
  }

  h3 {
    margin: 0 auto;
    color: #3f51b5;
  }
}
